* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}




/* navbar css */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    width: 100%;
    justify-content: space-between;
    background-color: whitesmoke;

}


.navbar h4 {
    display: inline;
    margin-left: 5%;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    padding: 1rem;
    color: black;
}

.navbar ul {
    margin-right: 5%;


}

/* section css */
#section::before {
    content: "";
    background: url(back.jpg) no-repeat center center/cover;
    position: absolute;
    height: 125vh;
    z-index: -1;
    width: 100%;
    opacity: 0.6;

}

.text-containor {
    padding-left: 15%;
    padding-top: 15%;
    height: 100vh;
    width: 100%;
}

.text-containor p:nth-child(3) {}

#firstbtn button {
    margin: 20px 5px;
    padding: ;
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    width: 90px;
    cursor: pointer;




}

.text-containor h1:nth-child(2) {
    margin-top: 10px;
}

.download-btn {
    background-color: black;
    color: white;
}

.hire-btn:hover {
    background-color: black;
    color: white;

}

.download-btn:hover {

    background-color: white;
    color: black;


}

.text-containor .img1 {
    position: absolute;
    top: 179px;
    left: 51%;
    mix-blend-mode: multiply;

}

/* about css */
.about {
    width: 70%;
    height: 50vh;
    position: absolute;
    top: 467px;
    left: 15%;
    background-color: whitesmoke;
    border-radius: 20px;
    border: 2px solid black;




}

.about .img2 {
    width: 20%;
    height: 35vh;
    position: absolute;
    top: 35px;
    left: 10%;

}

.about-text {
    position: absolute;
    top: 10vh;
    left: 35%;

}

.about-text h3:nth-child(1) {
    margin-bottom: 5px;

}

.about-text h5:nth-child(2) {
    margin-bottom: 10px;

}

#secondbtn button {
    margin: 20px 5px;
    padding: ;
    border: 1px solid black;
    height: 30px;
    width: 90px;
    cursor: pointer;
    color: white;
    background-color: black;
    font-size: 0.7rem;

}

/* services css */

.services {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 132vh;
    left: 0%;


}

.services-text h4:nth-child(2) {
    line-height: 30px;
}

.services-text {
    width: 45%;
    margin-left: 6%;
    margin-top: 8vh;
}

.service-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.box {
    border: 2px solid black;
    width: 26%;
    height: 52vh;
    margin-top: 5vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;



}

.box .num {
    height: 20px;
    width: 20px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;


}

.box p:nth-child(2) {
    font-weight: bold;
    line-height: 40px;
}

.box .box-btn {
    margin: 20px 5px;
    padding: ;
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    width: 90px;
    cursor: pointer;

}

/* contact css */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 231vh;
    left: 0px;
    border: 2px solid green;
    width: 100%;
    height: 40vh;
    background-color: black;
    color: white;

}

.contact-btn {
    line-height: 60px;

}

.contact-btn button {
    padding: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}

/* footer css */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    position: absolute;
    top: 271vh;
    left: 0px;
    
}

/* phone css  */
@media only screen and (max-width:600px) {


    .text-containor .img1 {
        position: absolute;
        top: 279px;
        left: 45%;
        mix-blend-mode: multiply;
        height: 24vh;

    }

    .text-containor {
        padding-left: 23%;
        padding-top: 9%;
        height: 100vh;
        width: 100%
    }

    .about {
        width: 80%;
        height: 63vh;
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
    }

    .about .img2 {
        width: 17%;
        height: 16vh;
        position: absolute;
        top: 19px;
        left: 41%;
    }
    
.about-text{
    position: absolute;
    top: 21vh;
    left: 1%;
    text-align: center;
}
.services-text{
    width: 82%;
    margin-left: 9%;
    margin-top: 8vh;
    text-align: center;
}
.service-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    width: 80%;
    height: 50vh
}
.contact{
    top:332vh;
    height: 15vh;
}
footer{
    top: 348vh;
    height: 10vh;
}
}